@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light-theme {
}

.dark-theme {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  color: white;
}

body.night-mode {
  color: white;
  background-color: #252525; 
}


body.night-mode p {
  color: white;
}

/* Custom scrollbar*/
::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #cecece; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* CUSTOM RANGE 
.thin-range {
  width: 100%; 
}

.thin-range::-webkit-slider-runnable-track {
  height: 5px; 
  border-radius: 2px; 
  border: 1px solid #ccc; 
} */