@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light-theme {
}

.dark-theme {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  color: white;
}

body.night-mode {
  color: white;
  background-color: #252525; 
}


body.night-mode p {
  color: white;
}

/* Custom scrollbar width */
::-webkit-scrollbar {
  width: 5px; /* Fixed width for vertical scrollbar */
  height: 5px; 
}

/* Scrollbar track styling */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Scrollbar thumb styling */
::-webkit-scrollbar-thumb {
  background: #cecece; /* Scrollbar thumb color */
  border-radius: 6px; 
}

/* Scrollbar thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}